<div class="center">
  <h1>Questions#answer</h1>

<h2>You</h2>
<p> <%= @question %> </p>
<h2>Your coach</h2>
<p> <%= @response %> </p>

<%= link_to "Ask another question", ask_path, class: "btn"%>

</div>
