<div class="center">
  <h1>Questions#ask</h1>
  <p>Find me in app/views/questions/ask.html.erb</p>
  <strong><p>Speak to your coach</p></strong>
  <form action="/answer" method="get">
    <input type="text" name="query" placeholder="What should i do?">
    <input id:"btn" type="submit" >
  </form>
</div>
